html{scroll-behavior: smooth;font-family: 'Noto Sans KR', sans-serif;}
body,h3,h2,p{margin: 0;}
li,ul{margin: 0;padding: 0;z-index: 100;}
nav{height: 45px;}
		nav .logo{height: 50px; line-height: 50px;width: 100%; float: left; text-align: center; background: white;z-index: 30;}
	    nav ul{width: 1000px; height: 45px; float: right;
	           margin-right: 50px;}
	    nav ul li{list-style-type: none; width: 190px; height: 45px; text-align: center; line-height: 45px; float: left;}
	    nav ul li a{display: block; background: none; color: black;
	                box-shadow: none; font-weight: 700;font-size: 0.9em;}
	    nav ul li a:hover{background: white;
		                  color: lightgray;
		                  transition: all 0.3s;}
		span a{height: 50px; line-height: 50px; width: 300px; float: left; text-align: left; background: none; box-shadow: none; 
		     font-weight: 900; color: black; font-size: 1.6em;padding-left: 30px}
		span a:hover{background: white; color: lightgray; transition: all 0.3s;}
span{display: block;}
.navbar{position: fixed;}
.navbar-2{position: fixed; right: 0px;}
img{display: block;}
em{border-bottom: 1px solid white;font-style: normal;}
mark{background-color: #E3F6CE;}
a{display: inline-block;
  background: #04B486;
  width: 185px; height: 50px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 3px lightgray;}
a:hover{background: #CEF6EC;
		  color: #04B486;
		  transition: all 0.3s;}
.bg-1{height: 900px;
	  background: url('../img/img2.jpg');
	  background-size: 100% 100%; 
      background-attachment: fixed;
      margin-top: 200px}
.bg-2{height: 900px;
	  background: url('../img/img33.jpg');
	  background-size: 100% 100%; 
      background-attachment: fixed;
      margin-top: 150px}
.ft-wt{color: white;}
.fts-13-1{font-size: 1.3em;font-weight: 700;}
.fts-13-2{font-size: 1.3em;font-weight: 300;}
.col-1{width: 800px;margin: auto;}
.mgt-190{margin-top: 190px}
.pdt-60{padding-top: 60px}
.pdt-100{padding-top: 100px}
.h2{font-size: 1.7em;font-weight: 700;}
.h3{font-size: 2em;font-weight: 900;text-align: center;margin-top: 190px}
.p-1{font-size: 1.3em;font-weight: 300;text-align: center;line-height: 200%;word-spacing: -1.1px}
.p-2{font-size: 1.3em;font-weight: 300;text-align: left;line-height: 230%;word-spacing: -1.1px}
.p-3{font-size: 0.7em;font-weight: 300;text-align: left;line-height: 200%;word-spacing: -1.2px}
.p-4{font-size: 1em;font-weight: 700;text-align: left;line-height: 200%;word-spacing: -1.2px}
.img-1{width: 400px;height: auto;}
.row{position: relative;}
#abs1{position: absolute; top: 25px}
#abs2{position: absolute; left: 800px}
#abs3{position: absolute; right: 800px}
#abs4{position: absolute; top: 250px}